header{
    display: flex;
    width: 100%;
    height: 14vh;
    min-height: 30px;
}

main{
    display: flex;
    width: 100%;
    height: 72vh;
}

footer{
    display: flex;
    width: 100%;
    height: 9vh;
    min-height: 30px;
}

aside{
    display: flex;
    min-width: 25%;
    overflow: auto;
}

section{
    width: 100%;
    overflow: auto;
}

.box
{
    width: 100%;
    height: 100%;
}

.div-height-15{
    height: 25%;
}

.div-height-70{
    height: 70%;
}