.centered-text{
    text-align: center;
}

.centered-elements{
    align-items: center;
    justify-content: center;
}

.row-flex{
    display: flex;
    flex-direction: row;
}

.column-flex{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.margin-5{
    margin: 5px;
}