.home-background{
    background-color: rgb(245, 245, 244);
}

.standard-background{
    background-color: #26960a;
    /*background-color: rgb(13, 114, 18);*/
}

.main-background{
    background-color: rgb(197, 185, 133);
}

.aside-background{
    background-color: #d6d8d6;
}
